<step
    exibirBotaoAnterior="true"
    exibirBotaoFinalizar="true"
    [stepMergeService]="stepMergeService"
    (finalizar)="onFinalizar()"
>
    <p-panel [header]="registroNoFormulario.rowIndex === -1 ? 'Novo Item' : 'Alterar Item'" *ngIf="registroNoFormulario">
        <item-pedido-form
            (submit)="onFormularioSubmit($event)"
            [item]="registroNoFormulario.item"
        >
        </item-pedido-form>
    </p-panel>
    <div class="p-mb-3" *ngIf="registroNoFormulario"></div>

    <p-panel header="Itens" class="p-shadown-4">
        <ng-template pTemplate="icons">
            <p-button
            icon="pi pi-plus"
            (click)="onEditar({rowIndex: -1, item: {}})"
        ></p-button>
        </ng-template>
        <item-pedido-lista
            [itens]="stepMergeService.state.itens"
            (editar)="onEditar($event)"
            (excluir)="onExcluir($event)"
        ></item-pedido-lista>
    </p-panel>

    <p-toast
        position="bottom-center"
        key="confirmacao"
        (onClose)="onRejeitarExclusao()"
        [baseZIndex]="5000"
    >
        <ng-template let-message pTemplate="message">
            <div class="p-flex p-flex-column" style="flex: 1">
                <div class="p-text-center">
                    <i
                        class="pi pi-exclamation-triangle"
                        style="font-size: 3rem"
                    ></i>
                    <h4>{{ message.summary }}</h4>
                    <p>{{ message.detail }}</p>
                    <br />
                </div>
                <div class="p-grid p-fluid">
                    <div class="p-col-6">
                        <button
                            type="button"
                            pButton
                            (click)="onRejeitarExclusao()"
                            label="Não"
                            class="p-button-secondary"
                        ></button>
                    </div>
                    <div class="p-col-6">
                        <button
                            type="button"
                            pButton
                            (click)="onConfirmarExclusao()"
                            label="Sim"
                            class="p-button-success"
                        ></button>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-toast>
</step>
