<div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-4">
        <label for="razaoSocial">Razão Social</label>
        <input
            #razaoSocialControl="ngModel"
            type="text"
            id="razaoSocial"
            name="razaoSocial"
            [(ngModel)]="pessoa.razaoSocial"
            pInputText
            required
            autofocus
            [readonly]="modoVisualizacao"
        />
        <small
            class="p-invalid p-error"
            *ngIf="formulario.submitted && !razaoSocialControl.valid"
        >
            A Razão Social é necessária.
        </small>
    </div>

    <div class="p-field p-col-4">
        <label for="cnpj">CNPJ</label>
        <p-inputMask
            mask="99.999.999/9999-99"
            placeholder="00.000.000/0000-00"
            #cnpjControl="ngModel"
            id="cnpj"
            name="cnpj"
            [(ngModel)]="pessoa.cnpj"
            required
            autofocus
            [readonly]="modoVisualizacao"
        ></p-inputMask>
        <small
            class="p-invalid p-error"
            *ngIf="formulario.submitted && !cnpjControl.valid"
        >
            O Cnpj é necessário.
        </small>
    </div>

    <div class="p-field p-col-4">
        <label for="nomeFantasia">Nome Fantasia</label>
        <input
            #nomeFantasiaControl="ngModel"
            type="text"
            id="nomeFantasia"
            name="nomeFantasia"
            [(ngModel)]="pessoa.nomeFantasia"
            pInputText
            required
            autofocus
            [readonly]="modoVisualizacao"
        />
        <small
            class="p-invalid p-error"
            *ngIf="formulario.submitted && !nomeFantasiaControl.valid"
        >
            O Nome Fantasia é necessário.
        </small>
    </div>
</div>
