.icone-acao-pagina {
    font-size: 1.5rem;
    margin-right: 4px;

    &.fa {
        font-size: 1.8rem;
    }
}

.icone-divisao {
    font-size: 1.25rem;
}

#titulo-entidade {
    font-size: 2rem;
}

#acao-pagina {
    font-size: 1.5rem;
}
