<div class="p-grid">
    <div class="p-col-12">
        <div class="p-d-flex p-jc-between">
            <titulo-pagina-crud
                entidade="Departamentos"
                acao="{{
                    modoVisualizacao
                        ? 'Visualizar'
                        : editandoRegistroExistente
                        ? 'Editar'
                        : 'Novo'
                }}"
            ></titulo-pagina-crud>
            <div>
                <button
                    *ngIf="modoVisualizacao"
                    type="button"
                    pButton
                    pRipple
                    label="Editar"
                    class="p-mb-3 p-mr-2 p-button-outlined p-button-primary"
                    icon="pi pi-pencil"
                    (click)="habilitarModoEdicao()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Consultar"
                    class="p-mb-3 p-mr-1 p-shadow-4 p-button-secondary"
                    icon="pi pi-list"
                    routerLink="/departamentos"
                ></button>
            </div>
        </div>

        <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
            <departamento-form-section
                [departamento]="departamento"
                [usuarios]="usuarios"
                [modoVisualizacao]="modoVisualizacao"
            >
            </departamento-form-section>

            <div class="p-grid p-justify-end" *ngIf="!modoVisualizacao">
                <limpar-button (click)="limpar()"></limpar-button>
                <submit-button></submit-button>
            </div>
        </form>
    </div>
</div>
