<div class="p-grid">
    <div class="p-col-12">
        <div class="p-d-flex p-jc-between">
            <div>
                <titulo-pagina-crud
                    entidade="{{ NOME_PAGINA }}"
                    acao="Consultar"
                ></titulo-pagina-crud>
            </div>
            <div>
                <button
                    *ngIf="
                        registro &&
                        registro.status &&
                        registro.status.type === 'AGUARDANDO_ATENDIMENTO'
                    "
                    (click)="onAtender()"
                    pButton
                    pRipple
                    label="Atender"
                    class="p-mb-3 p-mr-1 p-shadow-4 p-button-primary"
                    icon="pi pi-check"
                ></button>

                <button
                    *ngIf="
                        registro &&
                        registro.status &&
                        registro.status.type === 'EM_ATENDIMENTO'
                    "
                    (click)="onEntregar()"
                    pButton
                    pRipple
                    label="Entregar"
                    class="p-mb-3 p-mr-1 p-shadow-4 p-button-primary"
                    icon="pi pi-check"
                ></button>

                <button
                    *ngIf="
                        registro &&
                        registro.status &&
                        registro.status.type !== 'ENTREGUE' &&
                            registro.status.type !== 'CANCELADA'
                    "
                    (click)="onCancelar()"
                    pButton
                    pRipple
                    label="Cancelar"
                    class="p-mb-3 p-mr-1 p-shadow-4 p-button-primary"
                    icon="pi pi-check"
                ></button>
            </div>
        </div>

        <div
            class="card"
            *ngIf="
                registro &&
                registro.status &&
                registro.status.type !== 'EM_ATENDIMENTO'
            "
        >
            <p-virtualScroller
                [value]="registro.itens"
                scrollHeight="500px"
                [itemSize]="150"
            >
                <ng-template pTemplate="header">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        <h4 class="p-mb-2">Detalhes da Requisição</h4>
                    </div>
                </ng-template>

                <h5 class="p-mb-2">Descrição dos Produtos</h5>
                <ng-template pTemplate="item" let-item>
                    <div class="product-item">
                        <div class="product-list-detail">
                            <h6 class="p-mb-2">
                                <i class="pi pi-list product-category-icon"></i>
                                <b>Descrição: </b>{{ item.produto.descricao }}
                            </h6>

                            <i class="pi pi-th-large product-category-icon"></i>
                            <span class="product-category"
                                ><b>Grupo: </b
                                >{{ item.produto.grupo.descricao }}</span
                            >
                        </div>
                        <div class="product-list-detail">
                            <h6 class="p-mb-2">
                                <i class="pi pi-key product-category-icon"></i>
                                <b>Código: </b>{{ item.produto.id }}
                            </h6>

                            <i
                                class="pi pi-filter-slash product-category-icon"
                            ></i>
                            <span class="product-category"
                                ><b>Unidade de Medida: </b
                                >{{ item.produto.unidadeMedida.type }}</span
                            >
                        </div>
                        <div class="product-list-action">
                            <h6 class="p-mb-2">
                                <i class="pi pi-tags product-category-icon"></i
                                ><b>Quantidade: </b>{{ item.quantidade }}
                            </h6>
                            <span [class]="'p-mb-2'">
                                <i class="pi pi-bars product-category-icon"></i
                                ><b>Código de Barras: </b
                                >{{ item.produto.codigoBarras }}</span
                            >
                        </div>
                    </div>
                </ng-template>
            </p-virtualScroller>
        </div>
        <div
            class="card"
            *ngIf="
                registro &&
                registro.status &&
                registro.status.type === 'EM_ATENDIMENTO'
            "
        >
            <div class="card" *ngIf="registroNoFormulario">
                <item-requisicao-form
                    (submit)="onEditarItemSubmit($event)"
                    [item]="registroNoFormulario.item"
                >
                </item-requisicao-form>
            </div>
            <div class="card">
                <div class="p-fluid">
                    <item-requisicao-lista
                        [itens]="registro.itens"
                        (editar)="onEditarItem($event)"
                        (excluir)="onExcluirItem($event)"
                    ></item-requisicao-lista>
                </div>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
<p-toast></p-toast>
