<div class="p-grid">
    <div class="p-col-12">
        <div class="p-d-flex p-jc-between">
            <titulo-pagina-crud
                entidade="Fornecedores"
                acao="{{ editandoRegistroExistente ? 'Editar' : 'Novo' }}"
            ></titulo-pagina-crud>
            <div>
                <button
                    pButton
                    pRipple
                    label="Consultar"
                    class="p-mb-3 p-mr-1 p-shadow-4 p-button-secondary"
                    icon="pi pi-list"
                    routerLink="/fornecedores"
                ></button>
            </div>
        </div>

        <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
            <fornecedor-form-section
                [fornecedor]="fornecedor"
                [tiposEnderecos]="tiposEndereco"
                [tiposTelefones]="tiposTelefone"
                [modoVisualizacao]="modoVisualizacao"
                [formulario]="formulario"
            >
            </fornecedor-form-section>
            <div class="p-grid p-justify-end" *ngIf="!modoVisualizacao">
                <limpar-button (click)="limpar()"></limpar-button>
                <submit-button></submit-button>
            </div>
        </form>
    </div>
</div>

<p-toast></p-toast>
