<div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-3">
        <label for="cnpj">CNPJ</label>
        <input id="cnpj" type="text" [(ngModel)]="filtro.cnpj" pInputText />
    </div>
    <div class="p-field p-col-3">
        <label for="razaoSocial">Razão Social</label>
        <input
            id="razaoSocial"
            type="text"
            [(ngModel)]="filtro.razaoSocial"
            pInputText
        />
    </div>
    <div class="p-field p-col-3">
        <label for="email">E-mail</label>
        <input id="email" type="text" [(ngModel)]="filtro.email" pInputText />
    </div>
</div>
<div class="p-d-flex p-jc-center">
    <div class="flex align-items-center justify-content-center">
        <limpar-filtro-button (click)="handleLimpar()"></limpar-filtro-button>
        <pesquisar-button (click)="handleBuscar()"></pesquisar-button>
    </div>
</div>
