<div>
    <p-card>
        <ng-template pTemplate="title">
            {{ titulo || '' }}
        </ng-template>
        <ng-template pTemplate="subtitle">
            {{ subtitulo || '' }}
        </ng-template>
        <ng-template pTemplate="content">
            <ng-content></ng-content>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="p-d-flex p-jc-between">
                <div>
                    <p-button
                        *ngIf="exibirBotaoAnterior"
                        label="Anterior"
                        (onClick)="onAnterior()"
                        icon="pi pi-angle-left"
                        iconPos="left"
                    ></p-button>
                </div>
                <div>
                    <p-button
                        *ngIf="exibirBotaoProximo"
                        label="Próximo"
                        (onClick)="onProximo()"
                        icon="pi pi-angle-right"
                        iconPos="right"
                    ></p-button>
                </div>
                <div *ngIf="exibirBotaoFinalizar">
                    <button
                        pButton
                        label="Finalizar"
                        type="submit"
                        icon="pi pi-check"
                        iconPos="left"
                        style="background: #C8E6C9;color: #256029; font-weight: 700; font-size: 14px;"
                    ></button>
                </div>
            </div>
        </ng-template>
    </p-card>
</div>
