<div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-3">
        <label>Almoxarife Responsável</label>
        <p-dropdown
            #almoxarifeControl="ngModel"
            id="almoxarife"
            name="almoxarife"
            [options]="almoxarifes"
            [(ngModel)]="filtro.almoxarife"
            placeholder="Todos"
            optionLabel="nome"
            emptyMessage="Nenhum registro encontrado"
            showClear="true"
        ></p-dropdown>
    </div>

    <div class="p-field p-col-3">
        <label>Requisitante</label>
        <p-dropdown
            [options]="requisitantes"
            [(ngModel)]="filtro.requisitante"
            placeholder="Todos"
            optionLabel="nome"
            emptyMessage="Nenhum registro encontrado"
            showClear="true"
        ></p-dropdown>
    </div>

</div>
<div class="p-d-flex p-jc-center">
    <div class="flex align-items-center justify-content-center">
        <limpar-filtro-button (click)="onLimpar()"></limpar-filtro-button>
        <pesquisar-button (click)="onBuscar()"></pesquisar-button>
    </div>
</div>
