.layout-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #eeefefff;

    .layout-main {
        flex: 1 1 0;
        padding: 140px 10px 0px 10px;
        margin-left: 8rem;
        margin-right: 8rem;
    }
}
