.layout-wrapper {
    .topbar {
        position: fixed;
        width: 100%;
        background-color: #007bff;
        height: 100px;
        box-sizing: border-box;
        z-index: 100;
        -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16),
            0 5px 10px 0 rgba(0, 0, 0, 0.26);
        -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16),
            0 5px 10px 0 rgba(0, 0, 0, 0.26);
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16),
            0 5px 10px 0 rgba(0, 0, 0, 0.26);

        .topbar-content {
            padding-left: 20rem;
            padding-right: 20rem;

            .topbar-menu {
                margin-top: 0.5rem;
            }
        }
    }
}
