<p-table
    #dt
    responsiveLayout="scroll"
    [value]="dados"
    [rows]="quantidadeLinhas"
    [paginator]="paginacao"
    [(selection)]="selecionados"
    (onRowSelect)="selecionadosChange()"
    (onRowUnselect)="selecionadosChange()"
    (onHeaderCheckboxToggle)="selecionadosChange()"
    [columns]="colunas"
    [rowHover]="efeitoLinhaSelecionada"
    [loading]="loading"
    dataKey="id"
    styleClass="p-datatable-customers p-datatable-striped p-datatable-gridlines p-datatable-sm"
    currentPageReportTemplate="Mostrando {first} ao {last} de {totalRecords} registros"
    [showCurrentPageReport]="true"
    p-datatable-loading-icon="pi pi-spin pi-spinner"
>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let coluna of columns" [pSortableColumn]="coluna.campo">
                <p-sortIcon [field]="coluna.campo"></p-sortIcon>
                {{ coluna.titulo }}
            </th>
            <th style="text-align: center" *ngIf="botoesAcaoTemplateRef">Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                <div [style]="'text-align: ' + col.textAlign">
                    <span>
                        {{ renderizarConteudo(rowData, col) }}
                    </span>
                </div>
            </td>
            <td *ngIf="botoesAcaoTemplateRef">
                <div style="vertical-align: middle; text-align: center">
                    <ng-container
                        *ngTemplateOutlet="
                            botoesAcaoTemplateRef;
                            context: { rowData: rowData }
                        "
                    >
                    </ng-container>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            No total de {{ dados ? dados.length : 0 }} registros.
        </div>
    </ng-template>
</p-table>
