.auditavel-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
    text-align: center;

    &.status-ativo {
        background: #C8E6C9;
        color: #256029;
    }

    &.status-excluido {
        background: #FFCDD2;
        color: #C63737;
    }

    &.status-novo {
        background: #B3E5FC;
        color: #23547B;
    }

    &.status-atualizado-recentemente {
        background: #FEEDAF;
        color: #8A5340;
    }
}

.p-datatable .p-datatable-tbody > tr {
    background: black;
}

.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even){
    background: #f6f7f9;
}
