<p-table
    #dt
    responsiveLayout="scroll"
    [value]="dados"
    [rows]="quantidadeLinhas"
    [paginator]="paginacao"
    [(selection)]="selecionados"
    (onRowSelect)="selecionadosChange()"
    (onRowUnselect)="selecionadosChange()"
    (onHeaderCheckboxToggle)="selecionadosChange()"
    [columns]="colunas"
    [rowHover]="efeitoLinhaSelecionada"
    [loading]="loading"
    dataKey="id"
    styleClass="p-datatable-customers p-datatable-striped p-datatable-gridlines p-datatable-sm"
    currentPageReportTemplate="Mostando {first} ao {last} de {totalRecords} registros"
    [showCurrentPageReport]="true"
    p-datatable-loading-icon="pi pi-spin pi-spinner"
>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let coluna of columns" [pSortableColumn]="coluna.campo">
                <p-sortIcon [field]="coluna.campo"></p-sortIcon>
                {{ coluna.titulo }}
            </th>
            <th style="text-align: center">Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td>
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td *ngFor="let col of columns">
                <div [style]="'text-align: ' + col.textAlign">
                    <span
                        class="{{
                            renderizarConteudo(rowData, col).styleClass
                        }}"
                    >
                        {{ renderizarConteudo(rowData, col).conteudo }}
                    </span>
                </div>
            </td>
            <td>
                <div style="vertical-align: middle; text-align: center">
                    <button
                        *ngIf="exibirAcaoEditar(rowData)"
                        pButton
                        pRipple
                        class="p-mr-2 p-mb-2 p-button-sm p-button-icon-only p-button-rounded"
                        style="background: #B3E5FC; color: #23547B;"
                        pTooltip="Editar"
                        tooltipPosition="bottom"
                        (click)="handleOnEditar(rowData)"
                    ><i class="fa fa-fw fa-edit" style="font-size: 1.1rem; font-weight: 550; line-height: 1.5rem;"></i></button>
                    <button
                        *ngIf="exibirAcaoExcluir(rowData)"
                        pButton
                        pRipple
                        class="p-mr-2 p-mb-2 p-button-sm p-button-icon-only p-button-danger-alt p-button-rounded"
                        pTooltip="Excluir"
                        tooltipPosition="bottom"
                        (click)="handleOnExcluir(rowData)"
                    ><i class="pi pi-trash" style="font-size: 1.1rem; font-weight: 550; line-height: 1.5rem;"></i></button>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            No total de {{ dados ? dados.length : 0 }} registros.
        </div>
    </ng-template>
</p-table>
