<div class="p-grid">
    <div class="p-col-12">
        <div class="p-d-flex p-jc-between">
            <titulo-pagina-crud
                entidade="Grupos"
                acao="Consultar"
            ></titulo-pagina-crud>
            <div>
                <novo-button label="Novo Grupo"></novo-button>
            </div>
        </div>

        <div class="card">
            <grupo-filtro-busca
                #filtroComponent
                (buscar)="onBuscar($event.filtro)"
            ></grupo-filtro-busca>

            <tabela-crud
                [colunas]="colunas"
                [dados]="registros"
                [loading]="loading"
                [exibirAcaoEditar]="exibirAcaoEditar"
                [exibirAcaoExcluir]="exibirAcaoExcluir"
                (editar)="onEditar($event)"
                (excluir)="onExcluir($event)"
            ></tabela-crud>
        </div>
    </div>
</div>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
<p-toast></p-toast>
