<form #formulario="ngForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-8">
            <label for="produto">Produto</label>
            <input-button
                id="produto"
                name="produto"
                (onClick)="abrirDialogProduto()"
                (remover)="this.item.produto = null"
                [value]="(item.produto || {}).descricao || ''"
                placeholder="Selecione um Produto"
            >
            </input-button>
            <small class="p-invalid p-error" *ngIf="!item.produto">
                É necessário selecionar o produto
            </small>
        </div>

        <div class="p-field p-col-4">
            <label for="quantidade">Quantidade</label>
            <div class="p-inputgroup">
                <input
                    #quantidadeControl
                    type="text"
                    id="quantidade"
                    name="quantidade"
                    [(ngModel)]="item.quantidade"
                    pInputText
                    required
                />
                <span
                    class="p-inputgroup-addon"
                    *ngIf="item.produto && item.produto.unidadeMedida"
                    >{{ item.produto.unidadeMedida.type }}</span
                >
            </div>
            <small
                class="p-invalid p-error"
                *ngIf="!quantidadeControl.valid && !item.quantidade"
            >
                É necessário informar a quantidade
            </small>
            <small
                class="p-invalid p-error"
                *ngIf="item.quantidade && !(item.quantidade > 0)"
            >
                Quantidade inválida
            </small>
        </div>
    </div>
    <div class="p-grid p-justify-end">
        <div class="p-col-2">
            <button
                type="submit"
                pButton
                label="Salvar"
                class="p-mr-2 p-mb-2"
                icon="pi pi-save"
                (click)="onSubmit()"
                [disabled]="
                    !item.produto || !item.quantidade || item.quantidade <= 0
                "
            ></button>
        </div>
    </div>
</form>
