<div class="p-grid">
    <div class="p-col-12">
        <div class="p-d-flex p-jc-between">
            <titulo-pagina-crud
                entidade="{{ NOME_PAGINA }}"
                acao="Consultar"
            ></titulo-pagina-crud>
            <div>
                <novo-button
                    label="Nova Requisição"
                    semRota="true"
                    (click)="onNovaRequisicao()"
                ></novo-button>
            </div>
        </div>

        <div class="card">
            <requisicao-filtro
                #filtroComponent
                [almoxarifes]="almoxarifes$ | async"
                [requisitantes]="requisitantes$ | async"
                [enums]="enums"
                (buscar)="onBuscar($event.filtro)"
            ></requisicao-filtro>

            <p-tabView (onChange)="onChangeStatus($event)">
                <p-tabPanel
                    *ngFor="
                        let status of (enums || {}).statusRequisicao;
                        let i = index
                    "
                    header="{{ status.descricao }}"
                    [headerStyleClass]="'status ' + status.type"
                ></p-tabPanel>
            </p-tabView>

            <tabela [colunas]="colunas" [dados]="registros" [loading]="loading">
                <ng-template class="botoesAcao" let-rowData="rowData">
                    <button
                        pButton
                        pRipple
                        class="
                            p-mr-2
                            p-mb-2
                            p-button-sm
                            p-button-icon-only
                            p-button-rounded
                        "
                        style="background: #b3e5fc; color: #23547b"
                        pTooltip="Detalhes"
                        tooltipPosition="bottom"
                        (click)="onDetalhes(rowData)"
                    >
                        <i
                            class="fa fa-info"
                            style="
                                font-size: 1.1rem;
                                font-weight: 550;
                                line-height: 1.5rem;
                            "
                        ></i>
                    </button>
                </ng-template>
            </tabela>
        </div>
    </div>
</div>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
<p-toast></p-toast>
