<step
    exibirBotaoProximo="true"
    exibirBotaoAnterior="true"
    titulo="Itens"
    subtitulo="Selecione os produtos"
    (anterior)="stepAnterior()"
    (proximo)="proximoStep()"
>
    <div class="card" *ngIf="registroNoFormulario">
        <item-requisicao-form
            (submit)="onFormularioSubmit($event)"
            [item]="registroNoFormulario.item"
        >
        </item-requisicao-form>
    </div>
    <div class="card">
        <div class="p-fluid">
            <item-requisicao-lista
                [itens]="registros"
                (editar)="onEditar($event)"
            ></item-requisicao-lista>
        </div>
    </div>
</step>
