$primaryColor:#007bff;
$primaryLightColor:#646a6f;
$primaryTextColor:#d8dadb;
$primaryTextHoverColor:#ebeced;
$accentColor: #e0e0e0;
$accentLightColor:#cad8f0;
$accentTextColor: rgba(0, 0, 0, 0.87);
$activeMenuItemTextColor:#5180ce;
$primaryAltColor:#ebeef2;
$primaryAltTextColor:#2f3c4e;
$darkActiveMenuItemTextColor:#7399d7;
$darkMenuItemTextColor:#dee0e3;
$darkMenuItemInactiveTextColor:#757575;
$darkMenuItemHoverBgColor:#51585d;
$darkSidemenuBgColor:#22272a;
$darkMenuBgColor:#2b3135;

@import '../../sass/layout/_layout';
