<div class="topbar clearfix">
    <div class="topbar-content">
        <div class="topbar-menu">
            <p-menubar [model]="items" class="full-width">
                <ng-template pTemplate="start">
                    <div>
                        <img
                            src="../../../../assets/layout/images/logo-topbar.png"
                            height="60px"
                            width="60px"
                            style="margin-right: 20px"
                        />
                    </div>
                </ng-template>
                <ng-template pTemplate="end">
                    <button
                        pButton
                        pRipple
                        class="p-button-icon-only"
                        style="color: white; font-size: 25px"
                        (click)="logout()"
                    >
                        <i class="fa fa-sign-out"></i>
                    </button>
                </ng-template>
            </p-menubar>
        </div>
    </div>
</div>
